{% extends 'base.html' %}

{% block center %}
            <div class="col-md-8" style="padding:3px;">
                <div class="col-md-4" style="padding:3px;">
                    <div class="panel panel-primary" style="min-height: 250px;">
                        <div class="panel-heading" style="line-height: 20px;padding: 5px;">News</div>
                        <div class="panel-body">
                            <a href="" target="_blank">Click here</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding:3px;">
                    <div class="panel panel-primary" style="min-height: 250px;">
                        <div class="panel-heading" style="line-height: 20px;padding: 5px;">Birthdays</div>
                        <div class="panel-body">
                            <a href="" target="_blank">Click here</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding:3px;">
                    <div class="panel panel-primary" style="min-height: 250px;">
                        <div class="panel-heading" style="line-height: 20px;padding: 5px;">Insurance</div>
                        <div class="panel-body">
                            <a href="" target="_blank">Click here</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="padding:3px;">
                    <div class="panel panel-primary" style="min-height: 250px;">
                        <div class="panel-heading" style="line-height: 20px;padding: 5px;">Salary</div>
                        <div class="panel-body">
                            <a href="" target="_blank">Click here</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding:3px;">
                    <div class="panel panel-primary" style="min-height: 250px;">
                        <div class="panel-heading" style="line-height: 20px;padding: 5px;">Events</div>
                        <div class="panel-body">
                            <a href="" target="_blank">Click here</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding:3px;">
                    <div class="panel panel-primary" style="min-height: 250px;">
                        <div class="panel-heading" style="line-height: 20px;padding: 5px;">Appraisals</div>
                        <div class="panel-body">
                            <a href="" target="_blank">Click here</a>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
