{% extends 'base.html' %}

{% load static %}

{% block center %}
<div class="row" id="divMasterShowTimeSheetInformationDetailsID" style="display: block; border: 0px solid yellow;">
	<form name="frmTimeSheet" id="frmTimeSheetID" role="form" action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="col-md-9">
			<div class="box box-solid bg-blue-box-boarder-gradient">
				<div class="box-header bg-blue" id="boxHeader">
					<i class="fa fa-clock-o"></i>
					<h3 class="box-title " id="h3adduser">Leave Approval</h3>
				</div>
				<div class="box-body no-padding">
					<div style="width: 97%;text-align: justify;line-height: 20px;text-indent: 2px; font-size:13px; margin:10px;">
						<div class="box-body">
							<div class="table-responsive" style="border: 0px solid red;height:auto" id="divShowTimeSheetInformationDetailsID">
								<table border="2" style="width:100%" class="table color_border">
									<tbody>
										<tr class="bg-blue">
											<th width="6%">User Name</th>
											<th width="6%">Project Name</th>
											<th width="6%">Hours</th>
											<th width="6%">Date</th>
											<th width="6%">Description</th>
											<th width="10%">Status</th>
										</tr>
										{% for timesheet in timesheets %}
										<tr id="HolidayrowID1">
											<td>{{ timesheet.user }}</td>
											<td>{{ timesheet.project }}</td>
											<td>{{ timesheet.hours }}</td>
											<td>{{ timesheet.date }}</td>
											<td>{{ timesheet.desc }}</td>
											<td><select name="status{{ forloop.counter }}"><option value="Approved">Approved</option><option value="Rejected">Rejected</option></select></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
								<center><button class="btn btn-primary">Submit</button></center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
